.s_cont{
    /* height: 1200px; */
    border: 2px dashed red;
}


header{
    height: 110px;
    border: 2px dashed black;
    background-color: #9933cc;
}

.row{
    height: 1200px;
    border: 2px solid orange;
    background-color: #fff;;
}



footer{
    height: 69px;
    border: 2px dashed blue;
    background-color: #0099cc;
    /* text-align: center;
    color: #ffffff;
    font-size: 14px; */
}

.a_tbdr{
    border: 1px dashed black;
}